

@{
    ViewBag.Title = "All Students";
}
<!DOCTYPE html>
<html>
<body>

    <h1 style="margin-left:300px;">
        <b>All Student Records</b>
    </h1>
    <a href="@Url.Action("AddStudent","Student")" id="addNew" class="addRecord btn btn-primary glyphicon glyphicon-record">Add New Student</a>
    <div>
        <label><b id="message">@(!string.IsNullOrEmpty(ViewBag.message) ? ViewBag.message : "")</b></label>
    </div>
    <div>
        <table id="student">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Father Name</th>
                    <th>Email</th>
                    <th>Phone</th>
                    <th>Date of Birth</th>
                    <th>Password</th>
                    <th>Courses</th>
                    <th>Actions</th>
                </tr>
            </thead>

        </table>
    </div>

</body>
</html>



<script>
    $(document).ready(function () {
        $("#student").DataTable(
            {
                "processing": true,
                "serverSide": true,
                "filter": false,
                "orderMulti": false,
                "searching":true,
                "ajax": {
                    "type": "Post",
                    "url": '@Url.Action("LoadStudents","Student")',
                    "datatype": "json",
                    
                },
                "columns": [
                    {
                        "autoWidth": true, "render": function (Id, type, full, meta) {
                            debugger;
                        return  `${full.student.Name}`} },
                    { "data": "student.student.FName", "name": "student.student.FName", "autoWidth": true ,"render": function (Id, type, full, meta) {
                        return `${full.student.FName}`
                    }
                    },
                    { "data": "student.student.Email", "name": "student.student.Email", "autoWidth": true,"render": function (Id, type, full, meta) {
                        return `${full.student.Email}`
                    } },
                    { "data": "student.student.Phone", "name": "student.student.Phone", "autoWidth": true,"render": function (Id, type, full, meta) {
                        return `${full.student.Phone}`
                    } },
                    { "data": "student.student.Dob", "name": "student.student.Dob", "autoWidth": true,"render": function (Id, type, full, meta) {
                        return `${full.student.Dob}`
                    } },
                    { "data": "student.student.Password", "name": "student.student.Password", "autoWidth": true,"render": function (Id, type, full, meta) {
                        return `${full.student.Password}`
                    } },
                    { "data": "student.CoursesCount", "name": "student.CoursesCount", "autoWidth": true,"render": function (Id, type, full, meta) {
                        return `${full.CoursesCount}`
                    } },
                    { "data": "student.student.Id", "name": "student.student.Id", "autoWidth": true, "render": function (Id, type, full, meta) {
                        return  ` <a class="editBtn btn btn-primary glyphicon glyphicon-pencil" href="/Student/EditStudent/?id=${full.student.Id}">Edit</a>
                                            <a style='margin-left:5px;' href="/Student/DeleteStudent/?id=${full.student.Id}" class='deleteBtn btn btn-danger glyphicon glyphicon-remove'>Delete</a> `
                           }
                    },
                 ]
            });


            @*$.ajax({
            type: "Get",
            async: false,
            url: '@Url.Action("LoadStudents","Student")',
           
            success: function (data) {
                bindDataTable(data);
            },
            error: function () {
                alert("ajax failed");
            }
        });*@
          
         
    });

     var bindDataTable = function (response) {
                $("#student").DataTable(
                    {
                        "processing": false,
                        "serverSide": false,
                        "filter": false,
                        "orderMulti": false,
                        "aaData": response,
                        "aoColumns": [
                            { "mData": "student.student.Name" },
                            { "mData": "student.student.FName" },
                            { "mData": "student.student.Email" },
                            { "mData": "student.student.Phone" },
                            { "mData": "student.student.Dob" },
                             {"mData":"student.student.Password"},
                            { "mData": "student.CoursesCount" },
                            {
                                "mData": "student.student.Id",
                                "render": function (Id, type, full, meta) {
                                    debugger;
                                    return ` <a class='editBtn btn btn-primary" href="/Student/DeleteStudent/?id=${Id}">Edit</a>
                                            <a style='margin-left:5px;' href="/Student/DeleteStudent/?id=${Id}" class='deleteBtn btn btn-danger'>Delete</a> `
                                }
                            },
                        ]

                    });
            }
</script>






